$grid-columns: 12;

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@for $i from 1 through $grid-columns {
  .col-xs-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

@media (min-width: 768px) {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@media (min-width: 992px) {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
