@charset "UTF-8";

@font-face {
  font-family: "andrewerrico";
  src:url("../fonts/andrewerrico.eot");
  src:url("../fonts/andrewerrico.eot?#iefix") format("embedded-opentype"),
    url("../fonts/andrewerrico.woff") format("woff"),
    url("../fonts/andrewerrico.ttf") format("truetype"),
    url("../fonts/andrewerrico.svg#andrewerrico") format("svg");
  font-weight: normal;
  font-style: normal;

}
/*

[data-icon]:before {
  font-family: "andrewerrico" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "andrewerrico" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

[class*='icon-'] {
  display: inline-block;
  font: normal normal normal 14px/1 andrewerrico;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}

.icon-twitter:before {
  content: "\e000";
}
.icon-instagram:before {
  content: "\e009";
}
.icon-github:before {
  content: "\e00a";
}
.icon-linkedin:before {
  content: "\e00c";
}
.icon-envelope:before {
  content: "\e00d";
}
.icon-check:before {
  content: "\e00f";
}
