//* For the navigation
.nav-toggle Menu
  .nav-icon

.nav
  #main-menu.main-menu
    .main-menu-wrapper
      .container
        .row
          .col-xs-10.col-sm-6.text-left
            h2 Where would you like to go?
            nav
              ul.primary-nav
                li
                  a(href="index.html") Home
                    span Take me home
                li
                  a(href="about.html") About
                    span Learn more about me
                li
                  a(href="#") Process
                    span See how I like to work
                li
                  a(href="#") Work
                    span Look what I can do
                li
                  a(href="#") Contact
                    span We need to talk
          .col-xs-2.col-sm-6.text-right
            address
              ul.contact-info
                li
                  a(href="#")
                    //-i.fa.fa-twitter
                    i.icon-twitter
                li
                  a(href="#")
                    //-i.fa.fa-instagram
                    i.icon-instagram
                li
                  a(href="#")
                    //-i.fa.fa-github
                    i.icon-github
                li
                  a(href="#")
                    //-i.fa.fa-linkedin
                    i.icon-linkedin
                li
                  a(href="#")
                    //-i.fa.fa-envelope
                    i.icon-envelope
        
        
    .available
      //-i.fa.fa-check-circle
      p 
        i.icon-check.icon-lg
        | I am currently available for work. Feel free to connect with me.
