header.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  min-height: 60px;
  
  margin-top: 30px;
  margin-right: 90px;
  padding-left: $site-padding*2;
  padding-right: $site-padding*2;
  h1 {
    margin: 0;
  }
  a {
    color: #ffffff;
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}
