.nav-toggle {
  background-color: $nav-toggle-color;
  border-radius: 50%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  height: 60px;
  position: fixed;
  right: $site-padding*2;
  top: $site-padding*2;
  transition: all 150ms ease-in-out;
  width: 60px;
  z-index: 5;

  @extend %hide-text;

  .nav-icon {
    background-color: $nav-toggle-line-color;
    bottom: auto;
    height: 2px;
    left: 50%;
    position: absolute;
    right: auto;
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 30px;

    &:before,
    &:after {
      content: '';
      background-color: inherit;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 300ms ease-in-out;
      width: 100%;
      @extend %ha-webkit;
    }

    &:before {
      transform-origin: right top;
      transform: translateY(-7px);
    }

    &:after {
      transform-origin: right bottom;
      transform: translateY(7px);
    }
  }


  .no-touch &:hover {
    background-color: lighten($nav-toggle-color,15%);

    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.3);
    & .nav-icon:before {
      top: -2px;
    }
    & .nav-icon:after {
      top: 2px;
    }
  }
  &:active,
  .no-touch &:active {
    background-color: lighten($nav-toggle-color, 30%);
  }
  .nav-open & {
    background: $nav-menu-background;
    &:hover {
      background: lighten($nav-menu-background, 15%);
    }
    &:active {
      background: lighten($nav-menu-background, 30%);
    }
    &:hover .nav-icon:before,
    &:hover .nav-icon:after {
      top: 0;
    }
    .nav-icon {
      //left: 30%;
      height: 3px;
      transform: translateX(-50%) rotate(180deg) scale(0.75);
      &:before,
      &:after {
        width: 50%;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.nav {
  background: $nav-menu-background;
  height: 100%;
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;
  transition: visibility 750ms;
  width: 100%;
  visibility: hidden;

  .main-menu {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 30px;
    padding-bottom: 30px;
    transform: translateY(-75%);
    transition: transform 750ms;
    transition-timing-function: cubic-bezier(0.86, 0.01, .77, 0.78);

    @include font-size(1.75);
    @extend %ha-webkit;

    h2 {
      color: #ffff71;
      font-weight: 700;
      margin-bottom: 3em;
      position: relative;
      text-transform: uppercase;
      width: 300px;
      @include font-size(1.75);

      &:after {
        content: '';
        width: 60px;
        height: 1px;
        background-color: currentColor;
        position: absolute;
        bottom: -15px;
        left: 0;
      }
    }
    .primary-nav {
      li {
        margin: 2em 0;
        a {
          display: inline-block;
          line-height: 1;
          span {
            color: #9f9f9f;
            display: block;
            @include font-size(1.25);
            line-height: 1;
          }
        }
      }
    }
    .contact-info {
      margin: 6.5em 0 0;
      li {
        margin: 1em 0;
        a {
          @include font-size(1.75);
          //padding: 1em;
        }
      }
    }
    .primary-nav,
    .contact-info {
      a {
        color: #ffffff;
        transition: all 150ms ease-in-out;
        .no-touch &:hover {
          color: #ffff71;
        }
      }
    }
    .available {
      margin-top: 4em;
      text-align: center;
      p {
        color: #ffffff;
        @include font-size(1.25);
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        @media (min-width: 768px) {
          vertical-align: top;
        }
        i {
          color: #66ff88;
          padding-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
  .nav-open & {
    visibility: visible;
    transition: visibility 0;

    .main-menu {
      transform: translateY(0);
      transition: transform 750ms;
      transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }
  }
}

.secondary-navigation {
  a {
    transition: all 300ms ease-in-out;
    .no-touch &:hover {
      color: #ffff71;
    }
  }
}
